#CapsButton {
    margin-top: 12.5%;
    float: left;
    margin-left: -25.5%;

}

#CapsTextBox{

    float: left;
    margin-left: 10%;
    

}



#headerLabel h1 {

    margin-left: 10%;
}

#CapsLabel {

    float: left;
    margin-top: 10.5%;
    margin-left: -25.5%;

}